div {
    position: absolute;
    border: 2px solid black;
    padding: 3px;
}

#scroll {
    overflow: scroll;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 20%;
}

#hidden {
    overflow: hidden;
    top: 30%;
    left: 10%;
    width: 150px;
    height: 97px;
}

#visible {
    overflow: visible;
    top: 100px;
    right: 50px;
    max-width: 150px;
    max-height: 97px;
}

#div1, #div2 {
    position: absolute;
    width: 320px;
    height: 320px;
}

#div1 {
    background-image: url(smale.png);
}

#div2 {
    clip: rect(10px 240px 280px 20px);
    background-color: Blue;
}
