ol {
    list-style-type: upper-roman;
}

ul li {
    list-style-image: url(one.png);
    padding-left: 10px;
}

#ls {
    width: 300px;
    background-color: #ffccff;
}

#list1 {
    list-style-position: inside;
}

#list2 {
    list-style-position: outside;
}
