p.left, p.right {
    border: 6px;
    border-style: groove;
    border-color: silver;
    padding: 15px;
    font-size: 0.9em;
    width: 350px;
}
p.left {
    float: left;
    margin-right: 0%;
    color: navy;
}
p.right {
    float: right;
    margin-left: 0%;
    color: green;
}
p.left:first-letter, p.right:first-letter {
    font-size: 1.8em;
}
img {
    display: block;
    margin: auto;
    padding-top: 10px;
    max-width: 100%;
}
.image {
    float: right;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 1px dotted gray;
    text-align: center;
    width: 420px;
    font-size: smaller;
    font-family: "Courier";
}
body {
    background-color: silver;
}
#all {
    width: 900px;
    margin: auto;
    padding: 0 30px 0 30px;
    border-left: 4px groove white;
    border-right: 4px groove white;
    font-size: 1.2em;
    background-color: white;
} 
